*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Montserrat';
}

body{
  background-image:url(../img/calculator.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header{
  height: 70px;
  
  display: flex;
  align-items: center;
  
}
.logo{
 
  position: relative;
  left: 100px;
}
span{
  
  font-size: 2.6rem;
}
.logo span:nth-child(1){
  color: darkblue;
  font-size: 2.9rem;
  font-family: cursive;
  
}
.logo span:nth-child(2){
  color: rgb(123, 0, 139);
  font-size: 2rem;
  font-family: cursive;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}
li{
  list-style: none;
}
a{
  border: 1px solid rgb(123, 0, 139);
  border-radius:10px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  color: darkblue;
  font-size: 2.9rem;
  font-family: cursive;
}
a{
  background-color: #ccc;
  opacity: 0.5;
}

a:hover{
  border: none;
  color: rgb(123, 0, 139);
  font-size: 2.9rem;
  font-family: cursive;
  opacity: 0.4;
}
